# TREDALQ Secrets Example
# Rename this file to secrets.toml and configure your keys

# MongoDB Connection URI
MONGO_URI = "mongodb+srv://<username>:<password>@cluster.mongodb.net/tredalq?retryWrites=true&w=majority"
